/* Allgemein */
.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.05);
}
/* Struktur */
/* header */
#header {
    background-image: url("../img/smartphone.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px 0px;
}

/* features */
.img-feature {
    width: 200px;
}

/* pricing */
.card-deck .card {
    min-width: 220px;
}

/* testimonilas */
.testimonial {
    max-width: 75%;
    margin: auto;
}

.img-testimonial {
    width: 150px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}