#login{
	border: 1px solid #e5e5e5;
	background-color:white;
	width: 360px;
	height: 350px;
	overflow:hidden;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;		
}
a {
	color: black;
}
.form-group{
	margin-left: 5px;
	margin-right: 5px;
}

